<template>
  <v-app dark>
    <AppHeader />
    <nuxt />
  </v-app>
</template>

<script>
import AppHeader from '../components/AppHeader'

export default {
  components: {
    AppHeader
  }
}
</script>
