<template>
  <v-container>
    <h1>About Job Postings App</h1>
    <p>
      This application will allow us to show all the jobs from Github's Jobs Public API
    </p>
  </v-container>
</template>

<script>
export default {
  head () {
    return {
      title: 'About the Job Postings App',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Find the best programming jobs here'
        }
      ]
    }
  }
}
</script>
