<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-container fluid>
      <v-row>
        <v-col
          cols="15"
          class="pl-10 ma-10"
          justify-center
          align-center
        >
          <v-row>
            <div v-for="job in allJobs" :key="job.id">
              <NuxtLink :to="'/jobs/'+ job.id">
                <JobPostTitle
                  :job="job"
                  :views="views('/jobs/'+ job.id)"
                  v-if="job.company_logo !== null && job.title !== null"
                />
              </NuxtLink>
            </div>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import JobPostTitle from '../components/JobPostTitle'

export default {
  components: {
    JobPostTitle
  },
  data () {
    return {
      allJobs: []
    }
  },
  head () {
    return {
      title: 'Job Postings',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'All Job Postings from Github Jobs API'
        }
      ]
    }
  },
  computed: mapGetters({
    views: 'getViews'
  }),
  async asyncData ({ params, error }) {
    try {
      const { data } = await axios.get('http://localhost:3000/api/positions.json?search=node')
      return { allJobs: data }
    } catch (e) {
      error({ message: 'Job posts not found.', statusCode: 404 })
    }
  }
}
</script>
